<td>{{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.email}}</td>
<td>{{user.phone}}</td>
<td>{{user.city}}</td>
<!-- <td>{{user.age}}</td>
<td>{{user.fiscalCode | uppercase}}</td> -->
<td class="buttons">

  <div class="row">
      <div class="col-sm-3">
          <button class="btn btn-primary btn-sm" (click)="showUserDetail()"><fa name="info" fixed="true"></fa></button>
        </div>

    <div class="col-sm-3">
      <button class="btn btn-primary btn-sm" (click)="updateUser()"><fa name="pencil" fixed="true"></fa></button>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-danger btn-sm" (click)="deleteUser()"><fa name="trash-o" fixed="true"></fa></button>
    </div>

  </div>

  <!-- <button class="btn-primary"  [ngClass]="(user.name == 'Pippo') ? 'show' : 'hide'" 
    (click)="helloUser(user)">HELLO USER</button>-->
</td>

